# App
APP_NAME=Name
APP_ENV=production
APP_DEBUG=true
APP_HOST=0.0.0.0
APP_PORT=8000

# API Token
API_TOKEN=default
ACCESS_TOKEN_EXPIRE_MINUTES=43200
API_V1_PREFIX=/api/v1

# Security
SECRET_KEY=change-me
API_USERNAME=default
API_PASSWORD=default

# CORS
ALLOWED_ORIGINS=["*"]

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
# REDIS_PASSWORD=
REDIS_STREAM_KEY=alerts

# Aggregator
AGGREGATION_WINDOW_SECONDS=60
TOP_N_ATTACKERS=10
TOP_N_TARGETS=10

#Telegram
TELEGRAM_BOT_TOKEN=bot-token
TELEGRAM_CHAT_ID=chat-id-to-recieve-notifications
ENABLE_NOTIFICATIONS=true
NOTIFICATION_MIN_SEVERITY=high 
NOTIFICATION_IP_COOLDOWN_SECONDS=300
NOTIFICATION_TITLE_COOLDOWN_SECONDS=600
